body{
    background-color: rgb(188, 221, 228);
    font-family: Bahnschrift, monospace;
}

.header{
    text-align: center;
}
.photo{
    width: 300px;
    height: 300px;
}
.header_title{
    color: rgb(45, 98, 110);
    font-size: 25px;
}

.header_subtitle{
    color: rgb(69, 147, 165);
}

main {
    border: 3px solid rgb(253, 253, 253);
    text-align: center;
    color: rgb(45, 98, 110);
}

.section1 ol{
    list-style: none;
}
.separator{
    width: 50%;
    height: 3px;
    background-color: rgb(45, 98, 110);
}
.section3 iframe{
    width: 900px;
    height: 500px;
}
.table{
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 3px solid rgb(45, 98, 110);
    padding: 10px;
}

.section6{
    font-size: 32px;
}

.form {
    width: 500px;
    margin: 0 auto;
}
.input{
    width: 100%;
}

.textarea{
    width: 70%;
}
.button{
    display: block;
    margin: 0 auto;
}
footer{
    height: 100px;
    text-align: center;
}
.contact{
    text-decoration: none;
    color: rgb(45, 98, 110);
}